$main-color: #fff;
$main-width: 600px;
$main-height: 430px;
$main-height-landscape: 800px;

$primary-light-red: hsl(0, 100%, 67%);
$primary-orangey-yellow: hsl(39, 100%, 56%);
$primary-green-teal: hsl(166, 100%, 37%);
$primary-cobalt-blue: hsl(234, 85%, 45%);

