$main-width: 1240px;
$mobile-width: 600px;

/* Primary colors */
$strong-cyan: #{"hsl(171deg 66% 44%)"};
$light-blue: #{"hsl(233deg 100% 69%)"};

/* Neutral colors */
$dark-grayish-blue: #{"hsl(210deg 10% 33%)"};
$grayish-blue: #{"hsl(201deg 11% 66%)"};
$grayish-blue-light: #{"hsl(201deg 11% 66% / 10%)"};
