:root {
  --desktop-width: 1440px;
  --mobile-width: 375px;
  --primary-very-dark-magenta: hsl(300deg 43% 22%);
  --primary-soft-pink: hsl(333deg 80% 67%);
  --neutral-dark-grayish-magenta: hsl(303deg 10% 53%);
  --neutral-light-rayish-magenta: hsl(300deg 24% 96%);
  --neutral-white: hsl(0deg 0% 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  background:
    url('../images/bg-pattern-top-desktop.svg') no-repeat top left / 38%,
    url('../images/bg-pattern-bottom-desktop.svg') no-repeat bottom right / 70%;
}

h2 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 0.8;
  word-spacing: -8px;
}

h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 1.4rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}

#social-proof {
  display: grid;
  grid-template:
    "title ratings" 1fr "reviews reviews" 1fr / 1fr 1fr;
  gap: 30px;
  width: 76%;
  height: 84%;
  margin: 8% 12%;
}

#social-proof>.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#social-proof>.title>h2 {
  max-width: 60%;
  color: var(--primary-very-dark-magenta);
}

#social-proof>.title>p {
  max-width: 70%;
  font-weight: 500;
  color: var(--primary-very-dark-magenta);
  opacity: 0.7;
  margin-top: 40px;
}

#social-proof>.ratings {
  grid-area: ratings;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#social-proof>.ratings>.ratings-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  background: var(--neutral-light-rayish-magenta);
  padding: 35px 30px;
  border-radius: 10px;
}

#social-proof>.ratings>.ratings-box:first-child {
  align-self: start;
}

#social-proof>.ratings>.ratings-box:last-child {
  align-self: end;
}

#social-proof>.ratings>.ratings-box ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  padding-right: 35px;
}

#social-proof>.ratings>.ratings-box ul img {
  width: 20px;
}

#social-proof>.ratings>.ratings-box h3 {
  font-size: 1.6rem;
  color: var(--primary-very-dark-magenta);
}

#social-proof>.reviews {
  grid-area: reviews;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#social-proof>.reviews>.reviews-box {
  background: var(--primary-very-dark-magenta);
  width: 31%;
  min-height: 75%;
  padding: 3rem;
  border-radius: 14px;
}

#social-proof>.reviews>.reviews-box>p {
  color: var(--neutral-white);
  opacity: 0.9;
}


#social-proof>.reviews>.reviews-box>.reviews-box-title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

#social-proof>.reviews>.reviews-box:first-child {
  align-self: start;
}

#social-proof>.reviews>.reviews-box:last-child {
  align-self: end;
}

#social-proof>.reviews .reviews-box-title>img {
  width: 50px;
  border-radius: 50%;
}

#social-proof>.reviews .reviews-box-title>ul h3 {
  color: var(--neutral-white);
  font-size: 1.3rem;
  font-weight: 700;
}

#social-proof>.reviews .reviews-box-title>ul p {
  color: var(--primary-soft-pink);
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.7;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg 45% 44%);
}
